# select language
language: python

# select versions to test our system
# fails in 3.4 and earlier versioend due to dependencies
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.8-dev"
  - "nightly"

# install dependencies
install:
  - pip3 install invoke

# use task tool for executing test
script:
  - invoke installDependencies
  - invoke test

# use task tool for checking coverage of our tests
after_success:
  - invoke coverage