# select language
language: python

# select versions to test our system
# fails in 3.4 and earlier versioend due to dependencies
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.8-dev"
  - "nightly"

# specify the docker use
services:
  - docker

# install dependencies
install:
  - pip3 install invoke
  - invoke installDependencies
  - invoke buildContainers

# use task tool for executing test
script:
  - invoke test
  - invoke testContainers

# use task tool for checking coverage of our tests and upload images
after_success:
  - invoke coverage
  - invoke uploadImageToGithub
